<div class="mx-auto py-0 w-100 footer-container">
  <div class="container">
    <img src="../assets/images/Akwayaskill.png" class="away-logo" />
    <div class="footer-link">
      <ul>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">Terms of Use</a>
        </li>
        <li>
          <a href="#">FAQs</a>
        </li>
      </ul>
    </div>

    <div class="footer-icon">
      <span><i class="fa-brands fa-square-facebook"></i></span>
      <span><i class="fa-brands fa-instagram"></i></span>
      <span><i class="fa-brands fa-youtube"></i></span>
      <span><i class="fa-brands fa-twitter"></i></span>
      <span><i class="fa-brands fa-linkedin"></i></span>
    </div>
  </div>
</div>
