.section{
  padding-top: 70px;
  padding-bottom: 50px;
  text-align: center;
}

h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 46.99px;
  color: var(--primary-blue);
}

p{
  font-size: 20px;
  font-weight: 500;
  line-height: 34.08px;
  color: var(--secondary-blue);
  font-family: "Montserrat", sans-serif;
 
}